/*** CLEARFIX ***/

.clearfix {
  content: "";
  display: table;
  clear: both;
}

/*** GLOBAL ***/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  width: 1200px;
}

.container:after {
  content: "";
  display: table;
  clear: both;
}

ul li {
  list-style: none;
  display: inline;
}

 a {
  color: #2d2d2d;
  text-decoration: none;
}

/**** HEADER ***/

header {
  padding-top: 32px;
}

header .left {
  float: left;
  font-family: sans-serif;
  font-size: 30px;
  font-weight: 800;
  width: 30%;
}

/*header .left:after {
  content: "";
  display: table;
  clear: both;
}*/

.logo {
  float: left;
  padding: 0px 10px;
}

.company {
 float: left;
 margin-left: 10px;
 padding-top: 23px;
}

header .center {
  float: left;
  align-items: center;
  display: inline;
  padding-top: 35px;
}

header .center p {
  font-family: sans-serif;
  color:#2d2d2d;
}

button {
  background: #1CA6D5;
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: bolder;
  color: #fff;
  font-size: 14px;
}

.callback-button button {
  float: right;
  padding: 18px 35px;
  margin-top: 8px;
  margin-right: 50px;
}

button:hover {
  background-color: black;
  cursor: pointer;
}

/*** NAVBAR ***/
.navbar ul {
  float: left;
  display: block;
  width: 100%;
  padding-top: 35px;
  margin-bottom: 30px;
}

.navbar ul li {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: lighter;
  margin: 1%;
}

/*** MAIN SECTION ***/
.main {
  background-image: url('../img/helilar-home-slide.jpg');
  background-repeat: no-repeat;
  height: 860px;
  background-position: center;
  color: #fff;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.main-title-small {
  margin: auto;
  padding-top: 196px;
  font-size: 30px;
  width: 885px;
  line-height: 1.3em;
  letter-spacing: 2.4px;
}

.main-title-large {
  margin: auto;
  padding-top: 40px;
  font-size: 108px;
  width: 650px;
  font-weight: bold;
  line-height: 1.2em;
  letter-spacing: 8.4px;
}

.main-title-button {
  padding-top: 40px;
}
.main-title-button button {
  padding: 21px 46px;
  border: none;
}

/*** MAIN DESCRIPTION ***/

.main-description {
  height: 569px;
  margin-left: 10px;
  font-family: 'Roboto', sans-serif;
  color: #333333;
  float: left;
  width: 668px;
}

.description-1 {
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
  padding-top: 110px;
}

.description-2 {
  font-weight: 300;
  font-size: 18px;
  line-height: 1.7;
  padding-top: 35px;
}

.description-3 {
  font-weight: 300;
  font-style: normal;
  line-height: 1.7;
  color: #888888;
  font-size: 18px;
  padding-top: 30px;
}

.greenbulb {
  padding-left: 128px;
  width: 456px;
  float:left;
  padding-top: 110px;
}

/*** EXPERTISE SECTION ***/

.expertise-panel {
  height: 530px;
  color: #fff;
  background-image: url('../img/helilal-blue-home-bg1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Roboto', sans-serif;
}

.expertise-promise-title {
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  padding-top: 110px;
}

.installs,
.members,
.turbines,
.experience {
  border: 2px solid #ffffff;
  border-radius: 75px;
  width: 150px;
  height: 150px;
  padding: 0 40px;
}

.expertise-numbers {
  font-size: 20px;
  padding-top: 90%;
  text-align: center;
}

.expertise-circles {
  padding: 60px 0px 0px 75px;
  display: inline-block;
  width: 296px;
}

.expertise-text {
  padding-top: 30px;
}

.expertise-text.team {
  padding-left: 12px;
}

.expertise-text.wind {
  padding-left: 15px;
}

.expertise-text.years {
  padding-right: 15px;
}

/*** SOLAR/WIND SECTION ***/

.solar-wind-panel{
  height: 794px;
  background-image: url('../img/helilal-turbine-home-bg3.jpg');
  background-repeat: no-repeat;
  background-position: left top;
  padding-top: 40px;
}

.solar-wind-title {
  font-family: 'Roboto', sans-serif;
  color: #333333;
  text-align: center;
  padding-top: 108px;
  font-size: 30px;
  font-weight: 700;
  bottom: 0;
}

.solar-wind-boxes {
  background-color: #F5F5F5;
  margin: 20px 10px;
  padding: 10px;
  width: 570px;
  height: 176px;
  font-family: 'Roboto', sans-serif;
}

/*.solar-wind-boxes:after {
  content: "";
  display: table;
  clear: both;
}*/

.solar-wind-images {
  float: left;
  height: 176px;
  padding-top: 45px;
}

.solar-wind-panel-text {
  width: 506px;
  height: 176px;
  font-size: 18px;
  padding-left: 120px;
}

.solar-wind-panel-text p:nth-child(1) {
  padding-top: 20px;
}

.solar-wind-panel-text p:nth-child(2) {
  padding-top: 35px;
  line-height: 1.7em;
  color: #888888;
}
.left-column-wind {
  margin-left: 10px;
  float: left;
}
.right-column-solar {
  float: left;
}

/*** LARGE IMAGES GRID ***/
.solar-wind-images-grid {
  height: 1425px;
}

.solar-wind-images-grid img {
  float: left;
  height: 475px;
  width: 50%;
  padding: 0;
}

/*** RECENT NEWS SECTION ***/
.recent-news-section {
  height: 845px;
}
.recent-news-title {
  text-align: center;
  padding-top: 100px;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: #333;
}

.recent-news-wrapper {
  padding-top: 30px;
  text-align: center;
}



.recent-news-title-blue {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #1CA6D5;
  text-align: left;
  margin-left: 15px;
  padding-top: 30px;
}

.recent-news-text {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 1.7em;
  color: #888888;
  text-align: justify;
  padding-top: 35px;
  margin-left: 15px;
  margin-bottom: 30px;
  width: 555px;
}

.recent-news-left {
  float: left;
  width: 50%;
}

.recent-news-right {
  float: left;
  width: 50%;
}

.recent-news-button {
  text-align: center;
}

/*** SIGNUP FORM ***/

.signup-form-section {
  height: 405px;
  background-image: url('../img/helilal-signup-form-background.jpg');
  background-position: center;
  text-align: center;
}

input[type=text],
input[type=email] {
  width: 630px;
  height: 55px;
  border: none;
  border-radius: 5px;
}

input[placeholder] {
  font-family: arial;
  color: black;
  padding-left: 10px;
  font-size: 16px;
  font-weight: lighter;
}
.input-box.name {
  padding-top: 95px;
  margin-bottom: 20px;
}

/*** MAIN_FOOTER ***/
.footer-navigation-section {
  height: 500px;
  background-color: #292929;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

.title {
  margin: 0 20px;
}

.title p:nth-child(1) {
  color: #fff;
  font-weight: bold;
  padding-top: 130px;
  margin-bottom: 30px;
}

.about-us {
  width: 375px;
  float: left;
}
.about-us p:nth-child(2) {
  color: #888888;
  line-height: 1.7em;
  text-align: left;
}

.menu {
  width: 175px;
  float: left;
}

.menu ul li a{
  color: #1CA6D5;
  text-decoration: none;
  display: block;
  line-height: 2.5em;
  font-size: 16px;
}

.recent-commands {
  width: 250px;
  float: left;
}

.contact-info {
  width: 200px;
  float: left;
}
.recent-commands ul li,
.contact-info ul li {
  color: #888;
  font-size: 16px;
  line-height: 2.5em;
}
.recent-commands ul li a,
.contact-info ul li a {
  display: block;
  color: #1CA6D5;
}

footer {
  background-color: #212121;
  height: 75px;
  color: #888;
  font-family: 'Roboto';
  font-size: 14px;
}

footer p {
  padding-top: 30px;
  padding-left: 30px;
}
